# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependências
/node_modules
/.pnp
.pnp.js

# Testes
/coverage

# Produção
/build

# Configurações do Editor (VS Code)
/.vscode/

# Arquivos do macOS
.DS_Store

# Variáveis de Ambiente
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Logs e caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*