@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
:root {
  --color-yellow-opacity: rgba(234, 179, 8, 0.15);
  --color-yellow-secondary: rgba(234, 179, 8, 0.35);
  --color-yellow-primary: #eab308;
  --color-gray : rgb(112, 112, 112, 0.16);
  --color-gray-secondary: rgba(112, 112, 112);
  --color-gray-primary: #5d6664;
}

html {
  scroll-behavior: smooth;
}

.min-h-screen {
  min-height: 80vh;
  
}

body {
  @apply font-rubik;
  background-color: black;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation: fadeInLeft 1s ease-out forwards;
}
